linode-cli
systemd/
Makefile
coc/
configstore/
htop/
jesseduffield/
nvim/.netrwhist
.log
.lock
dconf/
evolution/
ibus/
pulse/
user-dirs.dirs
user-dirs.locale

#Used for refence
nvim/awesome-streamerrc

#Various OS junk files
.tmp
.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
